* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #121212;
  color: white;
  transition: 0.3s;
}

body.light {
  background-color: #f5f5f5;
  color: #111;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #040404;
  color: white;
  padding: 20px;
}

.sidebar button {
  margin-top: 20px;
  padding: 8px 12px;
  background-color: #1db954;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

body.light .sidebar {
  background-color: #e0e0e0;
  color: black;
}

.main-content {
  flex: 1;
  background-color: #121212;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

body.light .main-content {
  background-color: #fff;
  color: black;
}

#searchInput {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #444;
  margin-bottom: 20px;
}

.playlist-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #181818;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  background-color: #282828;
}

body.light .card {
  background-color: #ddd;
  color: black;
}

.music-player {
  height: 60px;
  background-color: #181818;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

body.light .music-player {
  background-color: #e0e0e0;
  color: black;
}

#playPauseBtn {
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
